# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
.vite/

# Cache
.cache/

# IDE
.vscode/

# TypeScript
*.tsbuildinfo