# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Logs
*.log

# VS Code
.vscode/

# Build
dist/
build/

# Dependencies
node_modules/

# Cache
.cache/
.temp/
.tmp/

# Coverage
coverage/

# Misc
*.tsbuildinfo